$primary-color: 28 124 213;

$success-color: 92 184 92;
$error-color: 217 83 79;
$warn-color: 240 173 78;
$info-color: 86 192 224;

$charcoal-grey-color: 55 58 60;
$gunmetal-color: 85 89 92;
$slate-gray-color: 119 119 119;
$steel-gray-color: 129 138 145;
$light-gray-color: 221 221 221;
$silver-color: 236 238 239;
$powder-blue-color: 220 237 246;
$pale-green-color: 226 238 216;
$cream-color: 252 247 228;
$misty-rose-color: 239 223 223;

$white-color: 255 255 255;

$dark-sky-blue-color: 91 192 222;
