$colors: (
  'primary': $primary-color,
  'success': $success-color,
  'error': $error-color,
  'warn': $warn-color,
  'info': $info-color,
  'silver': $silver-color,
  'charcoal-grey': $charcoal-grey-color,
  'white': $white-color
);

$extra-classes: (
  'txt': 'color',
  'border': 'border-color'
);

@each $color-name, $value in $colors {
  .#{$color-name} {
    background-color: rgb($value);
  }

  @each $prefix, $property in $extra-classes {
    .#{$prefix}-#{$color-name} {
      #{$property}: rgb($value);
    }
  }
}

.transparent {
  background-color: transparent;
}

// .btn.#{$color-name} {
//   background-color: rgb($value);
// }
// .btn.outlined-#{$color-name} {
//   border: $btn-border-size solid rgb($value);
// }

.a-btn.primary {
  background-color: rgb($primary-color);
}
.a-btn.outlined-primary {
  border: 1px solid rgb($primary-color);
  color: rgb($primary-color);
  background-color: transparent;
}
