$colors: (
  'primary': $primary-color,
  'success': $success-color,
  'error': $error-color,
  'warn': $warn-color,
  'info': $info-color,
  'silver': $silver-color,
  'charcoal-grey': $charcoal-grey-color,
  'white': $white-color,
  'dark-sky-blue': $dark-sky-blue-color
);

$extra-classes: (
  'txt': 'color',
  'border': 'border-color'
);

@each $color-name, $value in $colors {
  .#{$color-name} {
    background-color: rgb($value);
  }

  @each $prefix, $property in $extra-classes {
    .#{$prefix}-#{$color-name} {
      #{$property}: rgb($value);
    }
  }

  .a-btn.#{$color-name} {
    background-color: rgb($value);
  }
  .a-btn.outlined-#{$color-name} {
    border: $btn-border-size solid rgb($value);
    color: rgb($value);
    background-color: transparent;
  }
}

.transparent {
  background-color: transparent;
}
