.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.spacer,
.grow-1 {
  flex-grow: 1;
}
