$classes: (
  'p': 'padding',
  'px': 'padding-inline',
  'py': 'padding-block',
  'pt': 'padding-top',
  'pr': 'padding-right',
  'pb': 'padding-bottom',
  'pl': 'padding-left',
  'm': 'margin',
  'mx': 'margin-inline',
  'my': 'margin-block',
  'mt': 'margin-top',
  'mr': 'margin-right',
  'mb': 'margin-bottom',
  'ml': 'margin-left'
);

$sizes: 1, 2, 3, 4, 6, 8, 12, 16, auto;

@each $class-prefix, $property in $classes {
  @each $size in $sizes {
    .#{$class-prefix}-#{$size} {
      @if $size == auto {
        #{$property}: $size;
      } @else {
        #{$property}: $size * $base-space;
      }
    }
  }
}

@each $class-prefix, $property in $classes {
  @each $size in $sizes {
    @media screen and (max-width: $mobile-breakpoint) {
      .#{$class-prefix}-sm-#{$size} {
        @if $size == auto {
          #{$property}: $size;
        } @else {
          #{$property}: $size * $base-space;
        }
      }
    }
  }
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}
